.chat-user
  %h5 mai_tanaka
  .chat-user__actions.clearfix
    %a.chat-user__action
      %i.fa.fa-pencil-square-o
    %a.chat-user__action
      %i.fa.fa-cog

%ul.chat-groups
  %li.chat-group.clearfix
    %p.chat-group__name techmaster
    %p.chat-group__message おはようございます。
