.content
  .content-side
    = render partial: 'side_menu'

  .content-main
    .chat-header.clearfix
      .chat-header--left
        %h2 tech-masterグループ
        %p.chat-header__users
          Members: mai

      .chat-header--right
        %a.chat-header__edit-btn Edit

    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-message__header.clearfix
            %p.chat-message__name 名前
            %p.chat-message__time 2016/10/03 06:44:34
          %p.chat-message__content メッセージ

    .chat-footer
      .chat-footer__body
        %textarea{ rows: 1,placeholder: "Type a message" }
        %label.chat-footer__file
          %i.fa.fa-picture-o{ aria: {hidden: :true} }
        %input{ type: "submit", value: "Send" }
