$whiteFont: #FFFFFF;
$lightBlue: #38aef0;
$grayFont: #999999;
$nameAndMessage: #434A54;
$sidebarHeader: #253141;
$sideContent: #2f3e51;
$headerGroup: #333333;
$mainBackground: #f4f2f2;
$mainBorder: #eeeeee;
$footerBackground: #ddd;
