$whiteFont: #FFFFFF;
$sidebarHeader: #253141;
$sideContent: #2f3e51;
$headerUsers: #999999;
$headerGroup: #333333;
$editBtn: #38aef0;
$mainBackground: #f4f2f2;
$mainBorder: #eeeeee;
$chatName: #434A54;
$chatMessage: #434A54;
$chatDate: #999999;
$focusedTextarea: #38aef0;
$sendBtn: #38aef0;
$footerBackground: #ddd;
$flashBar: #38aef0
