.chat-user
  %h5.chat-user__name-title mai_tanaka
  .chat-user__actions.clearfix
    %a.chat-user__actions__post
      %i.fa.fa-pencil-square-o
    %a.chat-user__actions__settings
      = link_to edit_user_registration_path(current_user) do
        %i.fa.fa-cog

%ul.chat-groups
  %li.chat-group.clearfix
    %p.chat-group__name techmaster
    %p.chat-group__message おはようございます。
